{% extends "admin_base.html" %}
{% block content %}
<form method="post">
    <input name="title" value="{{post.title}}">
    <textarea name="body">{{post.body}}</textarea>
    <select name="blog_id">
        {% for blog in blogs %}
        <option value="{{blog.key.id}}"
        {% if blog.key.id == post.blog.id %}selected="selected" {% endif %}>
        {{ blog.name}}
        </option>
        {% endfor %}
    </select>
    <input name="tag" value="{{post.tags_string}}">
    <input type="submit">
</form>

<div id="uploaded">
    <ul id="uploaded_images">
    </ul>
</div>
<div id="images_forms">
    <button id="add_image">add image</button>
</div>
<script src="/static/js/jquery.form.min.js"></script>
<script>
    $(function(){
        var current_form
        $("#add_image").click(function(){
            $.get("/admin/get_upload_form",function(data){
                current_form = $(data);
                $("#add_image").before(current_form)
                var options = {
                    dataType:"json",
                    success: function(data){
                        if(data.success == false)
                            alert("upload failed!")
                        else{
                            var images = '<li><img src="'+data.url+'">'+data.url +"</li>"
                            $("#uploaded_images").append(images);
                        }
                        current_form.remove()
                    }
                }
                current_form.ajaxForm(options)
            })
        })
    })


</script>
{% endblock %}
