{% extends 'base.html' %}
{% block title %}Xiang Ma's Blog Site{% endblock %}
{% block content %}
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Welcome to Xiangma's Blog</h1>

        <p class="lead blog-description">This is Xiangma's first python blog.</p>
    </div>

    <div class="row">

        <div class="col-sm-11 blog-main">

            {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.create_time}} by <a href="#">{{post.owner}}</a></p>
                <p>
                    {{post.body}}
                </p>
                <p>Tags:{% for tag in post.tags %} <a href="/tag/{{tag}}/">{{tag}}</a> {% endfor %}</p>
            </div>
            {% endfor %}
            <!-- /.blog-post -->

            <ul class="pager">
                <li><a href="{% if pre_page <= 0 %}#{% else %}/?page={{ pre_page}}{% endif %}">Previous</a></li>
                <li><a href="{% if next_page <= 0 %}#{% else %}/?page={{ next_page}}{% endif %}">Next</a></li>
            </ul>

        </div>
        <!-- /.blog-main -->

    </div>
    <!-- /.row -->

</div>
{% endblock %}